#container
  width 100%
  height auto

.default-layout
  min-height 100vh
  margin-top 100px + 32px + 20px
  h1
    font-size 35px
    line-height 40px
    font-family serif
    &.underline
     display block
     border-bottom 1px solid $color-gray
    small
      margin-left 10px
      font-size 20px

.wrapper
  width 100%
  max-width 1080px
  margin auto
  position relative
