.text-center
  text-align center

.text-left
  text-align left

.text-right
  text-align right

.initialism
  border-bottom 1px dotted #777

.indent
  margin-left 40px
  &.hint
    margin-left 58px

.hint
  font-size 12px
  line-height 20px
  color $color-black-light

a.initialism:hover
  text-decoration none!important
