.form-section
  list-style none
  padding 0
  margin 0

.form-label
  font-family: serif
  font-size: 18px
  line-height 35px
  margin-top 16px
  margin-bottom: 8px
  display block

.form-sub-label
  font-size 14px
  display block
  text-align center

.form-radio-item
  margin-right 8px
  &:last-child
    margin-right 0
