.generator-wrapper #output_container .text-wrapper
  &.TP01
    text-align right
    padding 0 70px
    > *
      box-sizing border-box
      color #222
    .wedding_mate_1
    .wedding_mate_2
      width 100%
      font-size 140px
      line-height 1
      font-family 'Ramland', sans-serif
      padding-right 15px
    .wedding_mate_1
      padding-top 310px
      padding-bottom 50px
    .wedding_mate_2
      padding-bottom 150px
    .wedding_date
    .wedding_time
    .wedding_location
    .wedding_address
      width 100%
      line-height 1
      font-family Arial, sans-serif
      font-weight 100
    .wedding_date
    .wedding_time
    .wedding_address
      font-size 24px
      letter-spacing 1px
    .wedding_location
      font-size 32px
      letter-spacing 3px
    .wedding_date
      padding-bottom 10px
    .wedding_time
      padding-bottom 30px
    .wedding_location
      padding-bottom 10px
    .wedding_address
      padding-bottom 0

  &.TP02
    text-align center
    > *
      box-sizing border-box
      color #222
      line-height 1
      font-family 'BellMT', sans-serif
    .wedding_mate_1
    .wedding_mate_2
      font-size 33px
      display inline-block
      padding-top 530px
    .wedding_mate_1:after
      content ' / '
      margin-right 4px
    .wedding_mate_2
      padding-bottom 250px
    .wedding_date
    .wedding_time
    .wedding_address
      font-size 20px
      letter-spacing 1px
    .wedding_location
      font-size 32px
      letter-spacing 3px
    .wedding_date
      padding-bottom 10px
    .wedding_time
      padding-bottom 30px
    .wedding_location
      padding-bottom 10px
    .wedding_address
      padding-bottom 0

  &.TP03
    text-align center
    > *
      box-sizing border-box
      color #222
      line-height 1
      font-family 'BellMT', sans-serif
    .wedding_mate_1
    .wedding_mate_2
      font-size 28px
      display inline-block
      padding-top 225px
    .wedding_mate_1:after
      content ' / '
      margin-right 4px
    .wedding_mate_2
      padding-bottom 168px
    .wedding_time
    .wedding_address
      font-size 14px
      letter-spacing 1px
    .wedding_date
    .wedding_location
      font-size 20px
      letter-spacing 3px
    .wedding_date
      padding-bottom 10px
    .wedding_time
      padding-bottom 8px
    .wedding_location
      padding-bottom 10px
    .wedding_address
      padding-bottom 0

  &.TP04
    text-align center
    > *
      box-sizing border-box
      color #222
      line-height 1
      font-family 'BellMT', sans-serif
    .wedding_mate_1
    .wedding_mate_2
      font-size 28px
      display inline-block
      padding-top 225px
    .wedding_mate_1:after
      content ' / '
      margin-right 4px
    .wedding_mate_2
      padding-bottom 170px
    .wedding_date
    .wedding_time
    .wedding_location
      font-size 20px
    .wedding_address
      font-size 14px
    .wedding_date
      padding-bottom 6px
    .wedding_time
      padding-bottom 8px
    .wedding_location
      padding-bottom 6px
    .wedding_address
      padding-bottom 0
