$header-height = 100px
$header-height-sticky = 60px

#header
  // position relative
  padding 16px 0
  position fixed
  left 0
  right 0
  top 0
  width 100%
  z-index 9999
  transition all .3s linear,padding .3s linear
  clearfix()

  &.sticky
    height $header-height-sticky
    padding 8px 0
    margin 0
    background-color #EAEBED
    #header-brand
      width $header-height-sticky
      height $header-height-sticky
      background-image url('/images/logo.png') !important
    #header-nav li
      line-height $header-height-sticky
    #header-nav li a
      color $global-text-color

  #header-brand
    display block
    height $header-height
    width $header-height
    float left
    background-image url('/images/logo.png')
    background-repeat no-repeat
    background-position center center
    background-size contain
    transition all .3s linear,padding .3s linear
    .home &
      background-image url('/images/logo-white.png')

  #header-nav
    list-style none
    padding 0
    margin 0
    float right
    li
      list-style none
      display inline-block
      margin 0 40px
      line-height $header-height
      &:first-child
        margin-left 0
      &:last-child
        margin-right 0

    .home &
      li a
        color #FFFFFF
