#header
  position relative
  clearfix()

  .brand
    float left
    font-size 2rem
    line-height 2rem
    padding 20px

  ul
    list-style none
    padding 0
    margin 0
    float right
    li
      list-style none
      display inline-block
      margin 20px 40px
