$header-height = 100px
$header-height-sticky = 60px

#header
  padding 16px 0
  position fixed
  left 0
  right 0
  top 0
  width 100%
  z-index 9999
  transition all .3s linear

  .wrapper
    display flex

  &.sticky
    height $header-height-sticky
    padding 8px 0
    margin 0
    background-color #EAEBED
    #header-brand a
      width 197px
      height $header-height-sticky
      background-image url('/images/logo-h.png') !important
    #header-nav li
      line-height $header-height-sticky
    #header-nav li a
    #header-cart a
      color $global-text-color !important
    #header-nav li a:after
      background $global-text-color !important

  #header-brand
    display block
    flex 1
    display flex
    justify-content flex-start
    align-items center
    a
      height $header-height
      width $header-height
      background-image url('/images/logo.png')
      background-repeat no-repeat
      background-position center center
      background-size contain
      transition height .1s linear
      .home &
        background-image url('/images/logo-white.png')

  #header-nav
    list-style none
    padding 0
    margin 0
    display flex
    align-items center
    justify-content center
    ul
      margin 0
      padding 0
    li
      list-style none
      display inline-block
      margin 0 40px
      line-height $header-height
      &:first-child
        margin-left 0
      &:last-child
        margin-right 0
      a
        position relative
        &:hover:after
          width 100%
        &:after
          background $global-text-color
          bottom -2px
          content ""
          height 3px
          left 0
          position absolute
          transition width .5s
          width 0

    .home &
      li a
        color #FFFFFF
        &:after
          background #FFFFFF

  #header-cart
    flex 1
    display flex
    justify-content flex-end
    align-items center
    .home &
      a
        color #FFFFFF
