#hero
  position relative
  width 100%
  min-height 80vh
  background-image url('/images/featured-image.jpg')
  background-size cover
  background-position center center
  background-repeat no-repeat
  color #FFFFFF

  #hero-content
    position absolute
    width 100%
    bottom 0

